{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <!-- Completing this form will make a POST request to the action="" route, which here is the current route "/register" -->
        <form method="POST" action="">
            <!-- Cross-Site Request Forgery (CSRF) Token -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Your blog is waiting...</legend>
                <div class="form-group mb-2">
                    {{ form.username.label(class="form-control-label mb-2") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mb-2">
                    {{ form.password.label(class="form-control-label mb-2") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mb-2">
                    {{ form.remember_me(class="form-check-input") }}
                    {{ form.remember_me.label() }}
                </div>
            </fieldset>
            <div class="form-group mb-2">
                {{ form.log_in(class="btn btn-outline-info") }}
                <small class="text-muted ml-2">
                    <a href="{{ url_for('request_reset') }}">Forgot Password?</a>
                </small>
            </div>
        </form>
    </div>
    <div class="border-top pt-1">
        <!-- url_for() takes as argument the name of the route function in flaskblog.py-->
        <small class="text-muted">
            Not a member? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Here </a>
        </small>
    </div>
{% endblock content%}